<%- include header %>

<form class="form-horizontal" role="form" method="post">
    <div class="form-group">
        <label for="inputUserName" class="col-sm-2 control-label">rss地址</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="inputrssUrl" name="rssUrl">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">添加RSS</button>
        </div>
    </div>
</form>
<%- include footer %>
</html>