<%- include header %>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Rss文章
            </div>
            <% if (rssItem ) {%>
            <div class="panel-body">
               <h3><%= rssItem.title %></h3>
               <p><%- rssItem.description %><p>
            </div>
            <% }else{%>
            <div class="panel-body">
                <P>暂时没有文章～～～</P>
            </div>
            <%}%>
        </div>
    </div>
</div>

<%- include footer %>
</html>